{% extends "layout/app.twig" %}

{% block content %}

    <!-- <div class="row"> -->

        <div class="col-sm-12 col-md-12 offset-md-1">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>product</th>
                        <th>aantal</th>
                        <th class="text-center">prijs</th>
                        <th class="text-center">totaal</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="col-sm-8 col-md-6">

                        <div class="media">
                          <img class="mr-3" src="http://icons.iconarchive.com/icons/custom-icon-design/flatastic-2/72/product-icon.png" style="width: 72px; height: 72px;" alt="Generic placeholder image">
                          <div class="media-body">
                        {{ message }}
                              <h5 class="mt-0">merk naam</h5>
                          </div>
                        </div>
                      </td>
                        <td class="col-sm-1 col-md-1">
                          <input class="form-control" type="text" value="1">
                        </td>
                        <td class="col-sm-1 col-md-2 text-center"><strong>5.87</strong></td>
                        <td class="col-sm-1 col-md-2 text-center"><strong>€ 19.61</strong></td>
                        <td class="col-sm-1 col-md-1">
                        <button type="button" class="btn btn-danger">verwijderen</button></td>
                    </tr>

                </tbody>
            </table>
            <div class="mt-5">

            <table class="table">
              <tr>
                  <td>   </td>
                  <td>   </td>
                  <td>   </td>
                  <td><h5>Subtotaal</h5></td>
                  <td class="text-right"><h5><strong>€ 27.59</strong></h5></td>
              </tr>
              <tr>
                  <td>   </td>
                  <td>   </td>
                  <td>   </td>
                  <th><h5>Verzendkosten</h5></th>
                  <td class="text-right"><h5><strong>€ 9.30</strong></h5></td>
              </tr>
              <tr>
                  <td>   </td>
                  <td>   </td>
                  <td>   </td>
                  <td><h3>Total</h3></td>
                  <td class="text-right"><h3><strong>€ 40.53</strong></h3></td>
              </tr>
              <tr>
                  <td>   </td>
                  <td>   </td>
                  <td>   </td>
                  <td>
                <button type="button" class="btn btn-light">verdergaan met winkelen</button></td>
                  <td>
                  <button type="button" class="btn btn-success">afrekenen</button>

              </tr>

            </table>
        </div>
        </div>
    <!-- </div> -->

{% endblock %}
