{% if products|length > 0 %}
    <div class="row d-flex align-items-stretch">
        {% for product in products %}
            {% include "partials/card.twig" %}
        {% endfor %}
    </div>
{% else %}
    <h3>Geen producten gevonden.</h3>
{% endif %}