<footer class="border-top bg-secondary footer-bot mb-0">
	<div class="container py-5">
		<div class="row">
			<div class="col-md-6 col-lg-4">
				<h5>mini menu</h5>
				<ul class="list-unstyled text-small">
							<li class="nav-item active">
									<a class="text-muted" href="/">home <span class="sr-only">Home</span></a>
							</li>
							<li class="nav-item">
									<a class="text-muted" href="/product/contact">Contact</a>
							</li>
							<li class="nav-item">
									<a class="text-muted" href="/product/overview">Overzicht</a>
							</li>
				</ul>
			</div>
			<div class="col-md-6 col-lg-4">
				<h5>Facebook</h5>
				<div class="fb-page" data-href="https://www.facebook.com/facebook" data-tabs="timeline" data-width="400" data-height="400" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/facebook" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/facebook">Facebook</a></blockquote></div>
			</div>
			<div class="col-md-6 col-lg-4">
				<h5>Twitter</h5>
				<a class="twitter-footer twitter-grid" data-limit="1" href="https://twitter.com/TwitterDev/timelines/539487832448843776?ref_src=twsrc%5Etfw">National Park Tweets</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
			</div>
		</div>
	</div>
	<div class="w-100 bg-primary py-3">
		<small class="d-block mb-3 text-muted text-center">multiversum © 2017-2018</small>
	</div>
</footer>
