<nav class="navbar navbar-expand-md navbar-light bg-secondary sticky-top" style="z-index: 1021;">
  <a class="navbar-brand font-weight-light" href="/">
    <img src="/images/logo.svg" width="60px" class="d-inline-block align-top" alt="logo">
    multiversum
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse" id="navbar">
      <ul id="main-menu" class="navbar-nav navbar-menu">
          <li class="nav-item">
              <a class="nav-link" href="/">home <span class="sr-only">Home</span></a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/product/contact">Contact</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/product/overview">Overzicht</a>
          </li>
      </ul>
      <form action="/product/search" method="GET" class="mx-2 my-auto d-inline w-100">
          <div class="input-group">
              <input name="q" type="text" class="form-control border border-right-0" placeholder="Zoeken...">
              <span class="input-group-append">
              <button class="btn btn-outline-primary border border-left-0">
                  <i class="fa fa-search"></i>
              </button>
            </span>
          </div>
      </form>
  </div>
</nav>
