{% extends "layout/app.twig" %}

{% import "partials/adresForm.twig" as form %}

{% block content %}

<h1 class="mb-5">Betaal</h1>

<form class="form" action="" method="POST">

    {{ form.adresForm("betaaladres") }}

    <div class="form-row">
        
        <div class="form-group col-md-2">
            <label for="">Afleveradres:</label>
        </div>

        <div class="form-group col-md-4">
            <div class="form-check">
                <input id="afleveradres-boven" name="afleveradres" type="radio" class="form-check-input" value="boven" checked>
                <label for="afleveradres-boven">Op bovenstaand adres bezorgen</label>
            </div>
        </div>

        <div class="form-group col-md-4">
            <div class="form-check">
                <input id="afleveradres-nieuw" name="afleveradres" type="radio" class="form-check-input" value="nieuw">
                <label for="afleveradres-nieuw">Op ander adres bezorgen</label>
            </div>
        </div>

    </div>

    <div class="collapse" id="bezorgadres-container">

        {{ form.adresForm("bezorgadres") }}
    
    </div>

    <div class="form-row">
        
        <div class="form-group col-md">
            <label for="emailadres">Email</label>
            <input type="email" name="email" placeholder="Email" id="emailadres" class="form-control" required>
        </div>

        <div class="form-group col-md">
            <label for="telefoonnummer">Telefoonnummer</label>
            <input type="phone" name="telefoonnummer" placeholder="Telefoonnummer" id="telefoonnummer" class="form-control" required>
        </div>
    
    </div>

    <div class="form-group">
    
        <input class="btn btn-primary" type="submit" value="Volgende">
    
    </div>

</form>

{% endblock %}