

<div class="card sticky-top mx-3" style="top: 5em; z-index: -1;">
  <h5 class="card-header">Winkelwagen</h5>
  <div class="card-body">
    <h5 class="card-title">htc</h5>
    <p class="card-text"></p>

  </div>
  <ul class="list-group list-group-flush">
      <li class="list-group-item">subtotaal</li>
      <li class="list-group-item">totaal</li>
      <input type="submit" name="add_cart" class="btn btn-primary">Betalen
    </input>

    </ul>
</div>
