{% extends "layout/base.twig" %}


{% block body %}
<div class="row my-5 mr-0">
  <div class="col-lg-1"></div>
  <div class="col-lg-8">
    <div class="container content-container">
      {% block content %}

      {% endblock %}
    </div>
  </div>
  <div id="cart-col" class="col-lg-3"></div>

</div>
{% endblock %}
