{% extends "layout/app.twig" %}

{% block title %}multiversum | home{% endblock %}

{% block body %}
    {% include "partials/head.twig" %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="titel-home">
        <h3>
            Uitgelicht
            <small class="text-muted">De beste vr headsets voor de beste prijs</small>
        </h3>
    </div>
    {% include "partials/cards.twig" %}
{% endblock %}
